#items{
  float: left;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;

}
#layout{
  width: 100px;
  height: 35px;
  border: 1px solid black;
}
#grid tr td{
  border: 1px solid black;
  /*width:25%;*/
  /*height: 50%;*/

}
h6 {
  padding:0;
  margin:0;
}

.dropzone {
  background-color: #eddc1e;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

/*.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}*/
